* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, button {
	font-family: arial, sans-serif;
	font-size: 15px;
	color: hsl(216, 15%, 25%);
}

nav {
	display: flex;
	padding: 10px 20px;
	background: hsl(216, 50%, 96%);
	border-bottom: 1px solid hsl(216, 50%, 85%);
}
nav a, button {
	padding: 8px 14px;
	background: hsl(216, 25%, 55%);
	border-radius: 2px;
	border: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
}
nav a:hover, button:hover {
	background: hsl(216, 20%, 40%);
}


main {
	display: block;
	padding: 20px;
}

p {
	margin: 10px 0;
}
